<div class="d-flex flex-wrap gap-3">
    <div class="card shadow-sm border-0" style="border-top: 8px solid #1F3A93 !important; max-width: 300px;">
        <div class="card-body">
            <h6 class="card-subtitle text-muted mb-2">Usuarios Activos</h6>
            <h3 class="card-title mb-0">1,250</h3>
            <p class="text-success mt-1 mb-0">
                <i class="fas fa-arrow-up"></i> 8.5% respecto al mes pasado
            </p>
        </div>
    </div>

    <div class="card shadow-sm border-0" style="border-top: 8px solid #1F3A93 !important; max-width: 300px;">
        <div class="card-body">
            <h6 class="card-subtitle text-muted mb-2">Usuarios Activos</h6>
            <h3 class="card-title mb-0">1,250</h3>
            <p class="text-success mt-1 mb-0">
                <i class="fas fa-arrow-up"></i> 8.5% respecto al mes pasado
            </p>
        </div>
    </div>

    <div class="card shadow-sm border-0" style="border-top: 8px solid #1F3A93 !important; max-width: 300px;">
        <div class="card-body">
            <h6 class="card-subtitle text-muted mb-2">Usuarios Activos</h6>
            <h3 class="card-title mb-0">1,250</h3>
            <p class="text-success mt-1 mb-0">
                <i class="fas fa-arrow-up"></i> 8.5% respecto al mes pasado
            </p>
        </div>
    </div>
</div>

<div class="container d-flex flex-wrap pt-5 pb-5 gap-3">
    <app-status-badge class="d-flex" status="prospecto"></app-status-badge>
    <app-status-badge class="d-flex" status="negociacion"></app-status-badge>
    <app-status-badge class="d-flex" status="suscrito"></app-status-badge>
    <app-status-badge class="d-flex" status="prospecto"></app-status-badge>
</div>

<div class="container d-flex flex-wrap gap-3 pb-5">
    <button type="button" class="btn" style="background-color: #1F3A93; color:white;">
        Enviar <i class="fas fa-paper-plane ms-2"></i>
    </button>

    -- cambiar estado
    <button type="button" class="btn" style="background-color: #1F3A93; color:white;">
        Cambiar Estado <i class="fas fa-sync ms-2"></i>
    </button>
</div>


<div class="container d-flex flex-wrap gap-3 pb-5">
    <div class="card shadow-sm" style="border-left: 8px solid #ff0000; max-width: 600px;">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-1">
              <h5 class="card-title d-flex align-items-center mb-0">
                <i class="fa-brands fa-instagram me-2 text-primary"></i>

                Instagram
              </h5>
              <button class="btn btn-sm" style="background-color: #1F3A93; color:white;">Detalles</button>
            </div>
            <small class="text-muted">28 de mayo de 2025</small>
            <p class="card-text mt-2">Este es el contenido de la card con una franja en el borde izquierdo.</p>
          </div>
          
    </div>
</div>