<div class="d-flex flex-column flex-shrink-0 p-3 text-white" style="width: 280px; background: linear-gradient(to top, rgba(255,255,255,0.8) 20%, #1F3A93 60%);">
    <a href="/" class="d-flex justify-content-center text-white text-decoration-none">
        <span class="fs-4">CRM</span>
      </a>
    <hr style="margin: 0.5rem 0;">
    <p>Navegacion</p>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
                <i class="fas fa-home me-2"></i>
                Home
            </a>
        </li>
        <hr style="margin: 0.5rem 0;">
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fas fa-tachometer-alt me-2"></i>
                Dashboard
            </a>
        </li>
        <hr style="margin: 0.5rem 0;">
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fas fa-table me-2"></i>
                Orders
            </a>
        </li>
        <hr style="margin: 0.5rem 0;">
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fas fa-boxes me-2"></i>
                Products
            </a>
        </li>
        <hr style="margin: 0.5rem 0;">
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fas fa-users me-2"></i>
                Customers
            </a>
        </li>
    </ul>
</div>